*{
    box-sizing: border-box;
}
:root{
    --primary-color: rgb(0, 153, 255);
    --secondary-color: #fff;
    --arsh-color:#333;
}
body{
    background-color:#000;
    color: #000;
    padding: 0;
    margin: 0;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;

}
.container{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
}
.btn{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 5px;
    border-radius: 5px;
}
/*end of the head-information style*/

nav{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
   
}


.container #navbar ul li a:hover{
    border-bottom: 4px solid var(--primary-color);
    transition: all .3s ease-in-out;
    
}
.container #navbar ul li.current{
    border-bottom: 4px solid var(--primary-color);
}
/* course-sub-menu style*/
 

#community .container {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-auto-rows: minmax(70px,auto);
    grid-gap: 1rem;
    line-height: 2px;
    margin-bottom: 60px;
    position: relative;
    cursor: pointer;

    

}
#community .container .photo_card{
    background: #f9f9ff;
    color: #000;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
   
    
   
    
}
#community .container .photo_card img{
    width: 200px;
    border-radius: 50%;
    border:2px var(--primary-color) solid;
}
#community .container .photo_card .social img{
    width: 30px;
    background-color: var(--primary-color);
    color: #fff;
}

#community .container .photo_card .social img:hover{
    background-color: var(--primary-color);
    width: 35px;
}

#community .container .photo_card .card{
    width: 150px;
}
/* certificate style section */
.certificate .container{
    width: 70%;
    margin: 0 auto;
    padding: 30px;
}
.certificate .container h2{
    color:var(--primary-color);
    text-align: center;

}
/*some the curriculum in home page style */
#curriculum{
    background-color: #fff;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 40px;
    cursor: pointer;

    
}
#curriculum h2{
    text-align: center;
}

#curriculum .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    width: 70%;
    cursor: pointer;
    padding: 30px;

}
#curriculum .container .curriculums-rapper{
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    background-color: #333;
    width:100%;
    
}
#curriculum .container .curriculums-rapper:nth-child(1){
    border-left: 5px green solid;
    border-bottom: 5px var(--primary-color) solid;
}

#curriculum .container .curriculums-rapper:nth-child(2){
    border-right: 5px var(--primary-color) solid;
    border-top: 5px yellow solid;
}
/*amis-section style*/
.aim-section .container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    color: #fff;
    font-size: 30px;
    width: 90%;

}
.aim-section .container img{
    width: 300px;
    border-radius: 50%;
    border-left:5px solid aqua;
    border-right:5px solid blueviolet;
}
/* Tablet mode */
@media(width:768px){
.aim-section .container{
    flex-direction: column-reverse;
    font-size: 20px;
    width: 100%;
}


#curriculum .container{
    grid-template-columns: repeat(2,1fr);
    grid-gap: 3rem;

}

}
/* 425 screen size mode */

@media(width:425px){
    .aim-section .container{
        flex-direction: column;
        font-size: 15px;
        width: 100%;
       
    }
    .aim-section .container .aim-image{
        margin-bottom: 15px;
    }
  
    
    #curriculum .container{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 2rem;
    
    }
    
    }
    /* 375 screen size mode */
    
@media(width:375px){
    .aim-section .container{
        flex-direction: column;
        font-size: 15px;
        width: 100%;
       
    }
    .aim-section .container .aim-image{
        margin-bottom: 15px;
    }
  
    
    #curriculum .container{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 2rem;
    
    }
    
    }
    /* 320 screen size mode */
    
@media(width:320px){
    .aim-section .container{
        flex-direction: column;
        font-size: 15px;
        width: 100%;
        align-items: center;
        justify-content: center;
       
    }
    .aim-section .container .aim-image{
        margin-bottom: 15px;
    }
  
    
    #curriculum .container{
        grid-template-columns: repeat(1,1fr);
    
    
    }
    
    }